@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

::-webkit-scrollbar{
  background-color: #202324;
  color: #aba499;
}
::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}


body {
  color: rgb(230, 230, 230);
  margin: 0px 5%;
  margin-top: 75px;
  margin-bottom: 200px;
  background: #0e0e10;
}

#main-header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(32, 34, 42);
  color: rgb(255, 255, 255);
}

#site-title {
  font-weight: 400;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Anton',sans-serif;
  font-size: 48px;
  text-shadow: 0px 0px 30px black;
  display: inline-flex;
}

#site-subtitle {
  margin-left: 40px;
  margin-top: 45px;
  display: inline-flex;
}
#site-logo {
  height:90px;
  margin-left: 10px;
  margin-top: 5px;
  display: inline-flex;
}
#site-title-header {
  display: inline-flex;
}

#top-stories {
  width:1000px;
  margin:auto;
  margin-top:20px;
}
#top-stories a {
  text-decoration: none;
  color: black;
}

article {
  background-color: rgba(90,90,90,.75);
  max-width: 29%;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 5px;
  transition: box-shadow 0.5s;
}

#top-stories article:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .5);
}

#text {
  padding: 2px 2px 2px 15px;
}

article img {
  width: 100%;
}

a {
  text-decoration: none;
}
p {
  text-align: justify;
}

textarea, input {
  background-color: rgb(170, 170, 170);
}

.my-input {
  margin: 10px;
  padding: 10px 20px;
  display: block;
  width: 85%;
  align-content: center;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.my-input:focus {
  background: #d5ffc2;
  color: #0f8034;
  outline:none;
  border:1px solid #000000;
}

article:active {
  opacity: .4;
}

.my-text {
  display:block;
  margin: auto;
  border: 1px solid black;
  width: 1000px;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}


#edit-text {
  margin: 10px 0px;
  padding: 10px 20px;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#twitch-section {
  margin: auto;
  text-align: justify;
  width: 90%;
  padding: 50px;
}


#twitch-section iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

#wago-1cNC5sG1W a {display: inline; padding: 0 2px; margin: 0; border:0}
#wago-1cNC5sG1W img {display: inline; padding: 0; margin: 0; border: 0; height: 50px}
#wago-1cNC5sG1W button {display: inline; padding: 4px 16px; min-width: 130px; cursor: pointer; background-color: #000; color: rgba(255,255,255,.87); border: 0; text-align: center; vertical-align: top; border-radius: 6px}
#wago-1cNC5sG1W button:hover {background-color:#040404}
#wago-1cNC5sG1W .clickToCopy {display: block; padding: 0; margin: 0; font-size: 10px}
#wago-1cNC5sG1W .wagoName {display: block; padding: 0; margin: 4px 0; font-weight: bold; font-size: 13px}
