@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#ui-section {
  width: 95%;
  margin: auto;
  display: block;
  text-align: center;
}

#class-section {
  width: 18%;
  position: relative;
  float: left;
  margin: inherit;
}
#class-section ul, #string-section ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
}
#class-section ul li, #string-section ul li {
  border: 1px solid white;
  padding: 10px 0px;
  margin: 5px 0px;
  width: 100%;
  background-color: rgb(32, 34, 42);
  color: white;
}

#image-section {
  width: 60%;
  position: relative;
  margin: inherit;
}
.ui-image, .ui-base-image {
  width: 100%;
  display: inherit;
  position: absolute;
  opacity: 0%;
}
.ui-base-image {
  opacity: 30%;
}
img.chatbox{
  clip-path: polygon(0% 81%, 21.5% 81%, 21.5% 100%, 0% 100%);
}
img.unitframes{
  clip-path: polygon(28% 61%, 72% 61%, 72% 76%, 57% 76%, 57% 68%, 43% 68%, 43% 76%, 28% 76%)
}
img.weakauras1 {
  clip-path: polygon(57% 74%, 57% 68%, 43% 68%, 43% 74%)
}
img.weakauras2 {
  clip-path: polygon(57% 74%, 57% 78%, 43% 78%, 43% 74%)
}

#string-section {
  width: 18%;
  position: relative;
  float: right;
  margin: inherit;
}

#wago-1cNC5sG1W a {display: inline; padding: 0 2px; margin: 0; border:0}
#wago-1cNC5sG1W img {display: inline; padding: 0; margin: 0; border: 0; height: 50px}
#wago-1cNC5sG1W button {display: inline; padding: 4px 16px; min-width: 130px; cursor: pointer; background-color: #000; color: rgba(255,255,255,.87); border: 0; text-align: center; vertical-align: top; border-radius: 6px}
#wago-1cNC5sG1W button:hover {background-color:#040404}
#wago-1cNC5sG1W .clickToCopy {display: block; padding: 0; margin: 0; font-size: 10px}
#wago-1cNC5sG1W .wagoName {display: block; padding: 0; margin: 4px 0; font-weight: bold; font-size: 13px}
